@import './properties';

.footer{
    color: $font-color-footer;
    font-size: 0.7em;
    margin-top: 2em;

    .links{
        display: flex;
        flex-wrap: wrap;
        margin:  0 0 2em 0;
        padding: 0;
        list-style-type: none;
        li{
            &::after{
                content: '\2022 ';
                margin: 0 0.25em ;
            }
            &:last-child::after{
                content:"";
            }
        }
    }
}